# Assignment on Variables and DataTypes

## Basics of Python

## Question:

Print your name using the `print()` function.

In [1]:
print("Sayan Sarkar")

Sayan Sarkar

### What is a Variable? 

Write a few words about variables and provide an example by creating a variable.

Double click this cell and write down the answer

In [5]:
# varibales are containers that is used to store data types.
x=25 # here x is an integer type varibale as it store the data type intger which is 25.

print(x)
print(type(x))

25
<class 'int'>

## Question

Given the following variable assignments:

```python
length = 17
breadth = 12.0
symbol = '*'
```


Evaluate the result and the data type for each of the expressions below:

    1. length // 2
    2. length / 2.0
    3. breadth / 4
    4. 2 + 3 * 4
    5. symbol * 3

In [15]:
length=17
print(type(length))
k=length//2
p=length/2.0
print(type(k))
print(type(p))
breadth=12.0
print(type(breadth))
l=breadth/4
print(type(l))
symbol='*'
print(type(symbol))
z=2+3*4
print(z)
print (type(z))
print(symbol*3)
print(type(symbol*3))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'str'>
14
<class 'int'>
***
<class 'str'>

### Question:

Write a program to add two numbers. Use the variable names `first` and `second` for the numbers.

In [17]:
first=55
second=55
add=first+second
print(add)

110

### Question:

Write a program to concatenate your first name and second name. 

- You should use two separate variables: one for your first name and one for your second name.
- Concatenate these two names into a full name and display the result.

Use appropriate variable names for the first name and second name (e.g., `first_name` and `second_name`).

In [21]:
first_name='Raj'
second_name='Gupta'
concatenate=first_name+second_name
print(concatenate)

RajGupta

### Question:

Print the data types of the following values:

- `20`
- `'30'`
- `True`
- `50.5`

Your task is to print the data type of each value using the `type()` function in Python.

In [23]:
print(type(20))    # Output: <class 'int'>
print(type('30'))  # Output: <class 'str'>
print(type(True))  # Output: <class 'bool'>
print(type(50.5))  # Output: <class 'float'>

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

### Question:

Given the following variables:

```python
num_int = 123
num_str = "456"

Your task is to add num_int and num_str.

Hint: You need to first convert num_str into an integer before performing the addition.

In [25]:
num_int = 123
num_str = "456"

# Convert num_str to an integer
num_str_int = int(num_str)

# Perform the addition
result = num_int + num_str_int

print(result)

579