# Pandas Data Manipulation Exercise

## Objective

This Exercise will help you gain hands-on experience with key Pandas operations, including data creation, exploration, filtering, slicing, merging, concatenating, and grouping data. Each task aims to build foundational skills in manipulating data using Pandas.

## Instructions

Complete each task sequentially, answering all questions.
Add comments to explain your code where necessary.
Submit your work as a Jupyter Notebook (.ipynb) or a Python script (.py).

## Dataset Setup
#### **Create a DataFrame df_sales using the following data:** ####
                
| Order_ID | Product     | Category    | Quantity | Price | Store_Location |
|----------|-------------|-------------|----------|-------|----------------|
| 1        | Laptop      | Electronics | 3        | 800   | New York       |
| 2        | Headphones  | Electronics | 5        | 150   | San Francisco  |
| 3        | Chair       | Furniture   | 10       | 85    | New York       |
| 4        | Desk        | Furniture   | 2        | 200   | Chicago        |
| 5        | Monitor     | Electronics | 4        | 300   | San Francisco  |
| 6        | Lamp        | Furniture   | 7        | 40    | New York       |
| 7        | Smartphone  | Electronics | 6        | 600   | Chicago        |
| 8        | Sofa        | Furniture   | 1        | 500   | San Francisco  |

In [1]:
# Create a DataFrame using pandas library

# CODE HERE

import pandas as pd

data = {
    'Order_ID': [1, 2, 3, 4, 5, 6, 7, 8],
    'Product': ['Laptop', 'Headphones', 'Chair', 'Desk', 'Monitor', 'Lamp', 'Smartphone', 'Sofa'],
    'Category': ['Electronics', 'Electronics', 'Furniture', 'Furniture', 'Electronics', 'Furniture', 'Electronics', 'Furniture'],
    'Quantity': [3, 5, 10, 2, 4, 7, 6, 1],
    'Price': [800, 150, 85, 200, 300, 40, 600, 500],
    'Store_Location': ['New York', 'San Francisco', 'New York', 'Chicago', 'San Francisco', 'New York', 'Chicago', 'San Francisco']
}

df_sales = pd.DataFrame(data)

## Tasks and Questions

#### Task 1: Basic DataFrame Information

1.Display the first 5 rows and last 5 rows of df_sales using .head() and .tail().

**Question:** What are the products listed in the first and last rows?

In [2]:
# CODE HERE
# Display the first 5 rows
print("First 5 rows:")
print(df_sales.head())

# Display the last 5 rows
print("\nLast 5 rows:")
print(df_sales.tail())

First 5 rows:
   Order_ID     Product     Category  Quantity  Price Store_Location
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  San Francisco

Last 5 rows:
   Order_ID     Product     Category  Quantity  Price Store_Location
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  San Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

### **Data Structure**

Use .size, .shape, and .ndim to find the total number of elements, the number of rows and columns, and the dimensions of df_sales.

**Question:** How many rows and columns are in df_sales?

In [ ]:
# CODE HERE
# Total number of elements
total_elements = df_sales.size
print("Total elements:", total_elements)

# Number of rows and columns
rows, columns = df_sales.shape
print("Rows:", rows)
print("Columns:", columns)

# Dimensions of the DataFrame
dimensions = df_sales.ndim
print("Dimensions:", dimensions)

#### Column Information
Use .columns and .dtypes to check the column names and data types.

**Question:** Which columns contain numeric data?

In [3]:
# CODE HERE
# Column names
column_names = df_sales.columns
print("Column names:", column_names)

# Data types of each column
data_types = df_sales.dtypes
print("\nData types:\n", data_types)

Column names: Index(['Order_ID', 'Product', 'Category', 'Quantity', 'Price',
       'Store_Location'],
      dtype='object')

Data types:
 Order_ID           int64
Product           object
Category          object
Quantity           int64
Price              int64
Store_Location    object
dtype: object

## Task 2: Descriptive Statistics
#### Summary Statistics

Use .describe() to view summary statistics for numeric columns.
**Question:** What is the average quantity sold? What is the maximum price?

In [4]:
# CODE HERE
# Summary statistics for numeric columns
summary_stats = df_sales.describe()
print(summary_stats)

       Order_ID   Quantity       Price
count   8.00000   8.000000    8.000000
mean    4.50000   4.750000  334.375000
std     2.44949   2.915476  271.733029
min     1.00000   1.000000   40.000000
25%     2.75000   2.750000  133.750000
50%     4.50000   4.500000  250.000000
75%     6.25000   6.250000  525.000000
max     8.00000  10.000000  800.000000


#### Missing Values

Use .info() to get a concise summary of df_sales.
Question: Are there any missing values?

In [5]:
# CODE HERE
# Get concise summary of the DataFrame
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_ID        8 non-null      int64
 1   Product         8 non-null      object
 2   Category        8 non-null      object
 3   Quantity        8 non-null      int64
 4   Price           8 non-null      int64
 5   Store_Location  8 non-null      object
dtypes: int64(3), object(3)
memory usage: 516.0+ bytes

#### Min and Max Price
Find the minimum, maximum, average values of the Price column.

Question: What is the lowest price and which product has it?

In [6]:
# CODE HERE
# Minimum price
min_price = df_sales['Price'].min()
print("Minimum price:", min_price)

# Maximum price
max_price = df_sales['Price'].max()
print("Maximum price:", max_price)

# Average price
avg_price = df_sales['Price'].mean()
print("Average price:", avg_price)

# Product with the lowest price
lowest_price_product = df_sales.loc[df_sales['Price'] == min_price, 'Product'].values[0]
print("Product with the lowest price:", lowest_price_product)

Minimum price: 40
Maximum price: 800
Average price: 334.375
Product with the lowest price: Lamp

## Task 3: Filtering and Slicing

#### **Filter by Category**

Filter rows where Category is "Electronics".

**Question:** How many electronic products are in the dataset?

In [7]:
# CODE HERE
# Filter rows where Category is "Electronics"
electronics_products = df_sales[df_sales['Category'] == 'Electronics']

# Number of electronic products
num_electronics_products = electronics_products.shape[0]
print("Number of electronic products:", num_electronics_products)

Number of electronic products: 4

#### Filter by Price

Filter rows where Price is above 300.

**Question:** What products have a price greater than 300?

In [8]:
# CODE HERE
# Filter rows where Price is above 300
filtered_df = df_sales[df_sales['Price'] > 300]

# Get the products with price greater than 300
products_above_300 = filtered_df['Product'].tolist()

print("Products with a price greater than 300:", products_above_300)

Products with a price greater than 300: ['Laptop', 'Smartphone', 'Sofa']


#### Filter by Location
Filter rows for orders from "New York".

**Question:** How many orders were made from "New York"?

In [9]:
# CODE HERE
# Filter rows for orders from "New York"
new_york_orders = df_sales[df_sales['Store_Location'] == 'New York']

# Number of orders from New York
num_new_york_orders = new_york_orders.shape[0]
print("Number of orders from New York:", num_new_york_orders)

Number of orders from New York: 3

## Indexing and Slicing

Select only the Product and Quantity columns for the first 5 rows.

**Question:** What are the names and quantities of the first five products?

In [10]:
# CODE HERE
# Select Product and Quantity columns for the first 5 rows
subset = df_sales[['Product', 'Quantity']].head(5)

print(subset)

      Product  Quantity
0      Laptop         3
1  Headphones         5
2       Chair        10
3        Desk         2
4     Monitor         4

## Advanced Filtering
Select rows where Category is "Furniture" and Quantity is more than 5.

**Question:** How many furniture items have quantities greater than 5?

In [11]:
# CODE HERE
# Filter rows where Category is "Furniture" and Quantity is more than 5
filtered_df = df_sales[(df_sales['Category'] == 'Furniture') & (df_sales['Quantity'] > 5)]

# Number of furniture items with quantities greater than

## Task 4: Adding and Modifying Columns

#### Add Total Price Column

Add a new column called Total_Price, calculated as Quantity * Price.

**Question:** What is the total price for each product?

In [12]:
# CODE HERE
# Add a new column called Total_Price, calculated as Quantity * Price.
df_sales['Total_Price'] = df_sales['Quantity'] * df_sales['Price']

# Display the DataFrame with the new column
print(df_sales)

   Order_ID     Product     Category  Quantity  Price Store_Location  \
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  San Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

   Total_Price
0         2400
1          750
2          850
3          400
4         1200
5          280
6         3600
7          500

#### Add Price Category


Add a new column called Price_Category, labeling products as "High" if Price > 300 and "Low" otherwise.

**Question:** How many products fall into each price category?

In [13]:
# CODE HERE
import numpy as np
# Add a new column called Price_Category
df_sales['Price_Category'] = np.where(df_sales['Price'] > 300, 'High', 'Low')

# Count the number of products in each price category
price_category_counts = df_sales['Price_Category'].value_counts()

print("Number of products in each price category:\n", price_category_counts)

Number of products in each price category:
 Price_Category
Low     5
High    3
Name: count, dtype: int64






Task 5: Merging and Concatenation
Create a DataFrame df_discounts with the following data:


| Category           | Discount_Percentage |
|--------------------|---------------------|
| Electronics        | 10                  |
| Furniture          | 15                  |
| Clothing           | 20                  |
| Groceries          | 5                   |
| Toys               | 25                  |
| Books              | 30                  |
| Sports Equipment   | 12                  |
| Beauty             | 18                  |

In [14]:
# CODE HERE
import pandas as pd

data_discounts = {
    'Category': ['Electronics', 'Furniture', 'Clothing', 'Groceries', 'Toys', 'Books', 'Sports Equipment', 'Beauty'],
    'Discount_Percentage': [10, 15, 20, 5, 25, 30, 12, 18]
}

df_discounts = pd.DataFrame(data_discounts)

## Merge DataFrames
Merge df_sales and df_discounts based on the Category column using a left join. Save the result as df_combined.

**Question:** How many rows are in df_combined?

In [15]:
# CODE HERE
# Merge df_sales and df_discounts based on the Category column using a left join
df_combined = pd.merge(df_sales, df_discounts, on='Category', how='left')

# Number of rows in df_combined
num_rows = df_combined.shape[0]
print("Number of rows in df_combined:", num_rows)

Number of rows in df_combined: 8

### Calculate Discounted Price
Add a new column called Discounted_Price in df_combined, using the formula: **Discounted_Price = Total_Price * (1 - Discount_Percentage / 100).**

In [16]:
# CODE HERE
# Add a new column called Discounted_Price
df_combined['Discounted_Price'] = df_combined['Total_Price'] * (1 - df_combined['Discount_Percentage'] / 100)

# Display the DataFrame with the new column
print(df_combined)

   Order_ID     Product     Category  Quantity  Price Store_Location  \
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  San Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

   Total_Price Price_Category  Discount_Percentage  Discounted_Price
0         2400           High                   10            2160.0
1          750            Low                   10             675.0
2          850            Low                   15             722.5
3          400            Low                   15             340.0
4         1200            Low                   10            1080.0
5          280            Low                   15             238.0
6         3600           High                   10            3240.0
7          500           High                   15             425.0


Question: What is the discounted price for each product?

Concatenate DataFrames
Concatenate df_sales with a new DataFrame df_extra_sales:

| Order_ID | Product     | Category    | Quantity | Price | Store_Location |
|----------|-------------|-------------|----------|-------|----------------|
| 1        | Laptop      | Electronics | 3        | 800   | New York       |
| 2        | Headphones  | Electronics | 5        | 150   | San Francisco  |
| 3        | Chair       | Furniture   | 10       | 85    | New York       |
| 4        | Desk        | Furniture   | 2        | 200   | Chicago        |
| 5        | Monitor     | Electronics | 4        | 300   | San Francisco  |
| 6        | Lamp        | Furniture   | 7        | 40    | New York       |
| 7        | Smartphone  | Electronics | 6        | 600   | Chicago        |
| 8        | Sofa        | Furniture   | 1        | 500   | San Francisco  |
| 9        | Table       | Furniture   | 2        | 150   | Chicago        |
| 10       | Speaker     | Electronics | 3        | 200   | San Francisco  |


Question: After concatenation, how many total rows are in the updated DataFrame?

In [18]:
# CODE HERE
print(df_combined)
# Create df_extra_sales
data_extra_sales = {
    'Order_ID': [9, 10],
    'Product': ['Table', 'Speaker'],
    'Category': ['Furniture', 'Electronics'],
    'Quantity': [2, 3],
    'Price': [150, 200],
    'Store_Location': ['Chicago', 'San Francisco']
}
df_extra_sales = pd.DataFrame(data_extra_sales)

# Concatenate df_sales and df_extra_sales
df_updated = pd.concat([df_sales, df_extra_sales], ignore_index=True)

# Number of rows in the updated DataFrame
num_rows_updated = df_updated.shape[0]
print("Number of rows in the updated DataFrame:", num_rows_updated)

   Order_ID     Product     Category  Quantity  Price Store_Location  \
0         1      Laptop  Electronics         3    800       New York
1         2  Headphones  Electronics         5    150  San Francisco
2         3       Chair    Furniture        10     85       New York
3         4        Desk    Furniture         2    200        Chicago
4         5     Monitor  Electronics         4    300  San Francisco
5         6        Lamp    Furniture         7     40       New York
6         7  Smartphone  Electronics         6    600        Chicago
7         8        Sofa    Furniture         1    500  San Francisco

   Total_Price Price_Category  Discount_Percentage  Discounted_Price
0         2400           High                   10            2160.0
1          750            Low                   10             675.0
2          850            Low                   15             722.5
3          400            Low                   15             340.0
4         1200            Low                   10            1080.0
5          280            Low                   15             238.0
6         3600           High                   10            3240.0
7          500           High                   15             425.0
Number of rows in the updated DataFrame: 10

# Task 6: Grouping and Aggregation

#### Group by Category


Group by Category to find the total quantity sold and average price per category.

**Question:** Which category sold the highest quantity overall?

In [19]:
# CODE HERE
# Group by Category and calculate total quantity and average price
category_grouped = df_sales.groupby('Category').agg({'Quantity': 'sum', 'Price': 'mean'})

# Find the category with the highest quantity sold
highest_quantity_category = category_grouped['Quantity'].idxmax()

print("Category with the highest quantity sold:", highest_quantity_category)

Category with the highest quantity sold: Furniture

#### Group by Store Location
Group by Store_Location to find the total quantity sold and total Total_Price at each location.

**Question:** Which store location generated the highest revenue?

In [20]:
# CODE HERE
# Group by Store_Location and calculate total quantity and total Total_Price
location_grouped = df_sales.groupby('Store_Location').agg({'Quantity': 'sum', 'Total_Price': 'sum'})

# Rename the 'Total_Price' column to 'Total_Revenue' for clarity
location_grouped = location_grouped.rename(columns={'Total_Price': 'Total_Revenue'})

# Find the store location with the highest revenue
highest_revenue_location = location_grouped['Total_Revenue'].idxmax()

print("Store location with the highest revenue:", highest_revenue_location)

Store location with the highest revenue: Chicago

#### Discounted Revenue Calculation
Using df_combined, group by Category and calculate the average Discounted_Price and the total revenue after discounts.

**Question:** What is the total discounted revenue for the "Electronics" category?

In [21]:
# CODE HERE
# Group by Category and calculate average Discounted_Price and total discounted revenue
category_grouped_discounted = df_combined.groupby('Category').agg({'Discounted_Price': ['mean', 'sum']})

# Rename columns for clarity
category_grouped_discounted.columns = ['Avg_Discounted_Price', 'Total_Discounted_Revenue']

# Get the total discounted revenue for the "Electronics" category
electronics_discounted_revenue = category_grouped_discounted.loc['Electronics', 'Total_Discounted_Revenue']

print("Total discounted revenue for Electronics category:", electronics_discounted_revenue)

Total discounted revenue for Electronics category: 7155.0