# Exercise on List and Tuple

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
#Write your code here

**`Question:`** Remove number "3" in a list**

In [ ]:
#Write your code here

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [ ]:
#Write your code here

**`Question:` Insert "two-and-half" in 2nd position**

In [ ]:
#Write your code here

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [ ]:
#Write your code here

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [ ]:
#Write your code here

**`Question:` Join the given list `['p', 'a', 'n', 'D', 'a']`**

In [ ]:
#Write your code here

###  Tuples

**`Question:` Create a tuples for numbers 10,20,30,40,55,50 as nums**

In [ ]:
#Write your code here

**`Question:` Remove number "55" in a tuple**

*Hint:* Convert into list

In [ ]:
#Write your code here

`Question:` Write a Python program to count the occurrences of a specific element in a tuple.

`Example:` tup = (1, 2, 3, 4, 2, 2, 5)

In [ ]:
#Write your code here

`Question:` Write a Python program to find the index of the first occurrence of an element in a tuple.

`Example:` tup = (10, 20, 30, 40, 50)

In [ ]:
#Write your code here

`Question:` Write a Python program to concatenate two tuples into a new tuple.

`Example:` tup1 = (1, 2, 3) and tup2 = (4, 5, 6)

In [ ]:
#Write your code here

`Question:` Write a Python program to repeat a tuple three times to create a new tuple.

`Example:` tup = (1, 2)

In [ ]:
#Write your code here



`Question:` Write a Python program to slice a tuple to get a specific portion of it.

`Example:` tup = (10, 20, 30, 40, 50)

`Output:` (20, 30, 40)

In [ ]:
#Write your code here