In [1]:
# Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/Users/sayansarkar/Downloads/Exercise 4X009/car price.csv')

In [3]:
print(df.dtypes)

Id                     int64
Manufacturer          object
Model                 object
Prod_Year              int64
Category              object
Leather_Interioe      object
Fuel_Type             object
Engine Volume         object
Kilometers_Driven    float64
Gear_Box_Type         object
Drive_Wheel           object
Selling_Date          object
Wheel                 object
Color                 object
Airbags              float64
Price                  int64
dtype: object

In [4]:
# 1. Data Inspection and Summary Statistics
print("First 5 rows:\n", df.head())
print("\nDataset Info:")
print(df.info())
print("\nSummary Statistics:")
print(df.describe(include='all'))

First 5 rows:
          Id Manufacturer         Model  Prod_Year   Category Leather_Interioe  \
0  45624039         FORD       Mustang       2016  Cabriolet              Yes
1  45766794   MITSUBISHI        Pajero       1997       Jeep               No
2  45709646       TOYOTA         RAV 4       2001       Jeep               No
3  45816588       SUZUKI  Grand Vitara       2008       Jeep               No
4  45759758   MITSUBISHI   Pajero Mini       2006       Jeep               No

  Fuel_Type Engine Volume  Kilometers_Driven Gear_Box_Type Drive_Wheel  \
0    Petrol     2.3 Turbo            75000.0     Tiptronic        Rear
1    Petrol           2.4           142000.0     Automatic         4x4
2    Petrol             2            91000.0     Automatic         4x4
3    Petrol           1.6            98000.0     Automatic         4x4
4    Petrol           0.7           314000.0        Manual         4x4

  Selling_Date             Wheel   Color  Airbags   Price
0   02-03-2023        Left wheel  Silver      6.0  423370
1   02-03-2023        Left wheel    Blue      6.0  156810
2   02-03-2023  Right-hand drive  Silver      4.0  108200
3   02-03-2023        Left wheel   Black     12.0  156810
4   02-03-2023  Right-hand drive  Silver      2.0   43910

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4819 entries, 0 to 4818
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 4819 non-null   int64
 1   Manufacturer       4819 non-null   object
 2   Model              4819 non-null   object
 3   Prod_Year          4819 non-null   int64
 4   Category           4819 non-null   object
 5   Leather_Interioe   4819 non-null   object
 6   Fuel_Type          4819 non-null   object
 7   Engine Volume      4819 non-null   object
 8   Kilometers_Driven  4733 non-null   float64
 9   Gear_Box_Type      4819 non-null   object
 10  Drive_Wheel        4819 non-null   object
 11  Selling_Date       4819 non-null   object
 12  Wheel              4819 non-null   object
 13  Color              4819 non-null   object
 14  Airbags            4650 non-null   float64
 15  Price              4819 non-null   int64
dtypes: float64(2), int64(3), object(11)
memory usage: 602.5+ KB
None

Summary Statistics:
                  Id Manufacturer   Model   Prod_Year Category  \
count   4.819000e+03         4819    4819  4819.00000     4819
unique           NaN           51     682         NaN        4
top              NaN      HYUNDAI  Sonata         NaN    Sedan
freq             NaN         1292     403         NaN     2820
mean    4.562941e+07          NaN     NaN  2011.30110      NaN
std     6.639721e+05          NaN     NaN     5.43882      NaN
min     2.813594e+07          NaN     NaN  1943.00000      NaN
25%     4.572981e+07          NaN     NaN  2010.00000      NaN
50%     4.577619e+07          NaN     NaN  2012.00000      NaN
75%     4.580211e+07          NaN     NaN  2015.00000      NaN
max     4.581665e+07          NaN     NaN  2020.00000      NaN

       Leather_Interioe Fuel_Type Engine Volume  Kilometers_Driven  \
count              4819      4819          4819       4.733000e+03
unique                2         4            86                NaN
top                 Yes    Petrol             2                NaN
freq               3734      2665          1256                NaN
mean                NaN       NaN           NaN       1.708417e+06
std                 NaN       NaN           NaN       5.107095e+07
min                 NaN       NaN           NaN       1.600000e+03
25%                 NaN       NaN           NaN       7.267800e+04
50%                 NaN       NaN           NaN       1.245090e+05
75%                 NaN       NaN           NaN       1.840000e+05
max                 NaN       NaN           NaN       2.147484e+09

       Gear_Box_Type Drive_Wheel Selling_Date       Wheel  Color      Airbags  \
count           4819        4819         4819        4819   4819  4650.000000
unique             3           3            3           2     16          NaN
top        Automatic       Front   04-05-2023  Left wheel  Black          NaN
freq            3365        3214         2594        4575   1318          NaN
mean             NaN         NaN          NaN         NaN    NaN     6.772688
std              NaN         NaN          NaN         NaN    NaN     3.912210
min              NaN         NaN          NaN         NaN    NaN     0.000000
25%              NaN         NaN          NaN         NaN    NaN     4.000000
50%              NaN         NaN          NaN         NaN    NaN     6.000000
75%              NaN         NaN          NaN         NaN    NaN    12.000000
max              NaN         NaN          NaN         NaN    NaN    16.000000

               Price
count   4.819000e+03
unique           NaN
top              NaN
freq             NaN
mean    2.181001e+05
std     1.911478e+05
min     2.038000e+04
25%     1.003600e+05
50%     1.724900e+05
75%     2.728400e+05
max     2.885210e+06

In [5]:
# 2. Data Cleaning
# Check missing values
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Id                     0
Manufacturer           0
Model                  0
Prod_Year              0
Category               0
Leather_Interioe       0
Fuel_Type              0
Engine Volume          0
Kilometers_Driven     86
Gear_Box_Type          0
Drive_Wheel            0
Selling_Date           0
Wheel                  0
Color                  0
Airbags              169
Price                  0
dtype: int64

In [12]:
# Drop or fill missing values
df = df.dropna()  # or df.fillna(df.mean(numeric_only=True))

# Outlier removal for price (if not done yet)
Q1 = df['Price'].quantile(0.25)
Q3 = df['Price'].quantile(0.75)
IQR = Q3 - Q1
df = df[(df['Price'] >= Q1 - 1.5 * IQR) & (df['Price'] <= Q3 + 1.5 * IQR)]
# Find outliers
outliers =  df[(df['Price'] >= Q1 - 1.5 * IQR) & (df['Price'] <= Q3 + 1.5 * IQR)]
print(outliers[['Price']])

       Price
0     423370
1     156810
2     108200
3     156810
4      43910
...      ...
4812  194440
4813  392010
4814  376330
4816  166210
4818  141130

[4149 rows x 1 columns]

In [8]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 Id                   0
Manufacturer         0
Model                0
Prod_Year            0
Category             0
Leather_Interioe     0
Fuel_Type            0
Engine Volume        0
Kilometers_Driven    0
Gear_Box_Type        0
Drive_Wheel          0
Selling_Date         0
Wheel                0
Color                0
Airbags              0
Price                0
dtype: int64

In [9]:
print(df.columns)

Index(['Id', 'Manufacturer', 'Model', 'Prod_Year', 'Category',
       'Leather_Interioe', 'Fuel_Type', 'Engine Volume', 'Kilometers_Driven',
       'Gear_Box_Type', 'Drive_Wheel', 'Selling_Date', 'Wheel', 'Color',
       'Airbags', 'Price'],
      dtype='object')