# Exercise on List and Tuple

###  LIST

`Question:`:Create a list of numbers
> nums = [1,2,3,4,5,6,7,8,9,10]

In [1]:
nums=[1,2,3,4,5,6,7,8,9,10]

**`Question:`** Remove number "3" in a list**

In [3]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.remove(3)
print(nums)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

**`Question:` :Insert number "1" in 0th position**
- lst = [2,3,4]

In [11]:
nums= [ 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.insert(0,1)
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**`Question:` Insert "two-and-half" in 2nd position**

In [13]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums.insert(2, "two-and-half")
print(nums)

[1, 2, 'two-and-half', 3, 4, 5, 6, 7, 8, 9, 10]

**`Question:` phrase = "Don't panic!"**
- **Convert above text into list**

In [15]:
['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

*convert into list*

`Question:` Remove ** '** and **!** in the list

In [17]:
phrase = "Don't panic!"
char_list = list(phrase)

char_list.remove("'")
char_list.remove("!")

print(char_list)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**`Question:` Join the given list `['p', 'a', 'n', 'D', 'a']`**

In [19]:
chars = ['p', 'a', 'n', 'D', 'a']
result = ''.join(chars)
print(result)

panDa

###  Tuples

**`Question:` Create a tuples for numbers 10,20,30,40,55,50 as nums**

In [ ]:
nums = (10, 20, 30, 40, 55, 50)
print(nums)

**`Question:` Remove number "55" in a tuple**

*Hint:* Convert into list

In [ ]:
nums = (10, 20, 30, 40, 55, 50)

# Step 1: Convert to list
nums_list = list(nums)

# Step 2: Remove 55
nums_list.remove(55)

# Step 3: Convert back to tuple
nums = tuple(nums_list)

print(nums)

`Question:` Write a Python program to count the occurrences of a specific element in a tuple.

`Example:` tup = (1, 2, 3, 4, 2, 2, 5)

In [ ]:
tup = (1, 2, 3, 4, 2, 2, 5)

# Element to count
element = 2

# Count occurrences
count = tup.count(element)

print(f"The element {element} appears {count} times in the tuple.")

`Question:` Write a Python program to find the index of the first occurrence of an element in a tuple.

`Example:` tup = (10, 20, 30, 40, 50)

In [ ]:
tup = (10, 20, 30, 40, 50)

# Element to find
element = 30

# Find index
index = tup.index(element)

print(f"The element {element} is found at index {index}.")

`Question:` Write a Python program to concatenate two tuples into a new tuple.

`Example:` tup1 = (1, 2, 3) and tup2 = (4, 5, 6)

In [ ]:
tup1 = (1, 2, 3)
tup2 = (4, 5, 6)

# Concatenate tuples
result = tup1 + tup2

print("Concatenated Tuple:", result)

`Question:` Write a Python program to repeat a tuple three times to create a new tuple.

`Example:` tup = (1, 2)

In [21]:
tup = (1, 2)

# Repeat the tuple 3 times
repeated_tup = tup * 3

print("Repeated Tuple:", repeated_tup)

Repeated Tuple: (1, 2, 1, 2, 1, 2)



`Question:` Write a Python program to slice a tuple to get a specific portion of it.

`Example:` tup = (10, 20, 30, 40, 50)

`Output:` (20, 30, 40)

In [23]:
tup = (10, 20, 30, 40, 50)

# Slice from index 1 to 4 (not including index 4)
sliced_tup = tup[1:4]

print("Sliced Tuple:", sliced_tup)

Sliced Tuple: (20, 30, 40)