# Exercise on Sets

###  Sets



**`Question:`** Create a set called "s" containing the following elements:

3, 4, 'data', 'science'

In [1]:
# CODE HERE
s = {3, 4, 'data', 'science'}

**`Question:`** Add the element 'MachineLearning' to the set "s".

In [3]:
# CODE HERE
s.add('MachineLearning')

**`Question:`** Create another set called "sc" with the following elements:

3, 4, 'data', 'MachineLearning'

In [5]:
# CODE HERE
sc = {3, 4, 'data', 'MachineLearning'}

**`Question:`** Find the difference between the two sets "s" and "sc".

`s - sc`

In [7]:
# CODE HERE
s = {3, 4, 'data', 'science', 'MachineLearning'}
sc = {3, 4, 'data', 'MachineLearning'}
difference = s - sc
print(difference)

{'science'}

> **`Question:` remove 2 from set s**

In [9]:
# Create the initial set
s = {3, 4, 'data', 'science', 'MachineLearning'}

# Safely remove 2 from the set
s.discard(2)

# Print the resulting set
print(s)

{'data', 3, 4, 'MachineLearning', 'science'}

In [6]:
# CODE HERE

> **`Question:`Print common element in two sets s and sc**

s intersection sc

In [11]:
# CODE HERE
# Define the sets
s = {3, 4, 'data', 'science', 'MachineLearning'}
sc = {3, 4, 'data', 'MachineLearning'}

# Print common elements using intersection
print(s & sc)

{'data', 'MachineLearning', 3, 4}

> **`Question:`Print all element in two sets**

s union sc

In [13]:
# CODE HERE
# Define the sets
s = {3, 4, 'data', 'science', 'MachineLearning'}
sc = {3, 4, 'data', 'MachineLearning'}

# Print all elements using union
print(s | sc)

{3, 4, 'MachineLearning', 'data', 'science'}

**`Question:`** Add a list of elements to a set  
- `vegetables = {"carrot", "potato", "tomato"}`  
- `more_vegetables = ['onion', 'broccoli', 'spinach']`

In [15]:
# CODE HERE
# Define the set and list
vegetables = {"carrot", "potato", "tomato"}
more_vegetables = ['onion', 'broccoli', 'spinach']

# Add the list elements to the set
vegetables.update(more_vegetables)

# Print the updated set
print(vegetables)

{'tomato', 'broccoli', 'potato', 'spinach', 'onion', 'carrot'}

**`Question:`Remove items 10, 20, 30 from the following set at once**
- set1 = {10, 20, 30, 40, 50}

In [17]:
# CODE HERE
# Define the set
set1 = {10, 20, 30, 40, 50}

# Remove items 10, 20, 30 at once
set1.difference_update({10, 20, 30})

# Print the updated set
print(set1)

{50, 40}